.ink-grid { width: auto; max-width: 1440px; margin: 0 auto; }

.ink-grid { padding: 0 2em; }

.column-group > [class*=xlarge-] { float: left; clear: none; }

.xlarge-5 { width: 5%; }

.xlarge-10 { width: 10%; }

.xlarge-15 { width: 15%; }

.xlarge-16 { width: 16.66%; }

.xlarge-20 { width: 20%; }

.xlarge-25 { width: 25%; }

.xlarge-30 { width: 30%; }

.xlarge-33 { width: 33.33%; }

.xlarge-35 { width: 35%; }

.xlarge-40 { width: 40%; }

.xlarge-45 { width: 45%; }

.xlarge-50 { width: 50%; }

.xlarge-55 { width: 55%; }

.xlarge-60 { width: 60%; }

.xlarge-65 { width: 65%; }

.xlarge-66 { width: 66.66%; }

.xlarge-70 { width: 70%; }

.xlarge-75 { width: 75%; }

.xlarge-80 { width: 80%; }

.xlarge-85 { width: 85%; }

.xlarge-90 { width: 90%; }

.xlarge-95 { width: 95%; }

.xlarge-100 { width: 100%; }

[class*=xlarge-100] { float: none; clear: both; }

.column-group { *zoom: 1; }

.column-group:after { content: ""; display: table; clear: both; }

.column-group.gutters { margin-left: -2em; }

.column-group.gutters > [class*=xlarge-], .column-group.gutters > [class*=all-] { padding-left: 2em; margin-bottom: 2em; }

.column-group.horizontal-gutters { margin-left: -2em; }

.column-group.horizontal-gutters > [class*=xlarge-], .column-group.horizontal-gutters > [class*=all-] { padding-left: 2em; }

.column-group.vertical-gutters > [class*=xlarge-], .column-group.vertical-gutters > [class*=all-] { margin-bottom: 2em; }

.column-group.double-gutters { margin-left: -4em; }

.column-group.double-gutters > [class*=xlarge-], .column-group.double-gutters > [class*=all-] { padding-left: 4em; margin-bottom: 4em; }

.column-group.double-horizontal-gutters { margin-left: -4em; }

.column-group.double-horizontal-gutters > [class*=xlarge-], .column-group.double-horizontal-gutters > [class*=all-] { padding-left: 4em; }

.column-group.double-vertical-gutters > [class*=xlarge-], .column-group.double-vertical-gutters > [class*=all-] { margin-bottom: 4em; }

.column-group.half-gutters { margin-left: -1em; }

.column-group.half-gutters > [class*=xlarge-], .column-group.half-gutters > [class*=all-] { padding-left: 1em; margin-bottom: 1em; }

.column-group.half-horizontal-gutters { margin-left: -1em; }

.column-group.half-horizontal-gutters > [class*=xlarge-], .column-group.half-horizontal-gutters > [class*=all-] { padding-left: 1em; }

.column-group.half-vertical-gutters > [class*=xlarge-], .column-group.half-vertical-gutters > [class*=all-] { margin-bottom: 1em; }

.column-group.quarter-gutters { margin-left: -0.5em; }

.column-group.quarter-gutters > [class*=xlarge-], .column-group.quarter-gutters > [class*=all-] { padding-left: 0.5em; margin-bottom: 0.5em; }

.column-group.quarter-horizontal-gutters { margin-left: -0.5em; }

.column-group.quarter-horizontal-gutters > [class*=xlarge-], .column-group.quarter-horizontal-gutters > [class*=all-] { padding-left: 0.5em; }

.column-group.quarter-vertical-gutters > [class*=xlarge-], .column-group.quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.5em; }

.column-group.xlarge-gutters { margin-left: -2em; }

.column-group.xlarge-gutters > [class*=xlarge-], .column-group.xlarge-gutters > [class*=all-] { padding-left: 2em; margin-bottom: 2em; }

.column-group.xlarge-horizontal-gutters { margin-left: -2em; }

.column-group.xlarge-horizontal-gutters > [class*=xlarge-], .column-group.xlarge-horizontal-gutters > [class*=all-] { padding-left: 2em; }

.column-group.xlarge-vertical-gutters > [class*=xlarge-], .column-group.xlarge-vertical-gutters > [class*=all-] { margin-bottom: 2em; }

.column-group.xlarge-double-gutters { margin-left: -4em; }

.column-group.xlarge-double-gutters > [class*=xlarge-], .column-group.xlarge-double-gutters > [class*=all-] { padding-left: 4em; margin-bottom: 4em; }

.column-group.xlarge-double-horizontal-gutters { margin-left: -4em; }

.column-group.xlarge-double-horizontal-gutters > [class*=xlarge-], .column-group.xlarge-double-horizontal-gutters > [class*=all-] { padding-left: 4em; }

.column-group.xlarge-double-vertical-gutters > [class*=xlarge-], .column-group.xlarge-double-vertical-gutters > [class*=all-] { margin-bottom: 4em; }

.column-group.xlarge-half-gutters { margin-left: -1em; }

.column-group.xlarge-half-gutters > [class*=xlarge-], .column-group.xlarge-half-gutters > [class*=all-] { padding-left: 1em; margin-bottom: 1em; }

.column-group.xlarge-half-horizontal-gutters { margin-left: -1em; }

.column-group.xlarge-half-horizontal-gutters > [class*=xlarge-], .column-group.xlarge-half-horizontal-gutters > [class*=all-] { padding-left: 1em; }

.column-group.xlarge-half-vertical-gutters > [class*=xlarge-], .column-group.xlarge-half-vertical-gutters > [class*=all-] { margin-bottom: 1em; }

.column-group.xlarge-quarter-gutters { margin-left: -0.5em; }

.column-group.xlarge-quarter-gutters > [class*=xlarge-], .column-group.xlarge-quarter-gutters > [class*=all-] { padding-left: 0.5em; margin-bottom: 0.5em; }

.column-group.xlarge-quarter-horizontal-gutters { margin-left: -0.5em; }

.column-group.xlarge-quarter-horizontal-gutters > [class*=xlarge-], .column-group.xlarge-quarter-horizontal-gutters > [class*=all-] { padding-left: 0.5em; }

.column-group.xlarge-quarter-vertical-gutters > [class*=xlarge-], .column-group.xlarge-quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.5em; }

.column-group.xlarge-no-gutters { margin-left: 0; }

.column-group.xlarge-no-gutters > [class*=xlarge-], .column-group.xlarge-no-gutters > [class*=all-] { padding-left: 0; margin-bottom: 0; }

.ink-table td[class*=xlarge-], .ink-table th[class*=xlarge-], .ink-table tr[class*=xlarge-], .ink-table thead[class*=xlarge-], .ink-table tbody[class*=xlarge-], .ink-table tfoot[class*=xlarge-] { float: none; }

.push-top, .xlarge-push-top { position: relative; top: 0%; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%); }

.push-bottom, .xlarge-push-bottom { position: relative; top: 100%; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); }

.push-middle, .xlarge-push-middle { position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.xlarge-push-left { float: left; }

.xlarge-push-center { float: none; margin-left: auto; margin-right: auto; }

.xlarge-push-right { float: right; }

.xlarge-align-left { text-align: left; }

.xlarge-align-center { text-align: center; }

.xlarge-align-right { text-align: right; }

.xlarge-no-margin { margin: 0 !important; }

.space { margin: 2em; }

.xlarge-space { margin: 2em; }

.padding { padding: 2em; }

.xlarge-padding { padding: 2em; }

.double-space { margin: 4em; }

.xlarge-double-space { margin: 4em; }

.double-padding { padding: 4em; }

.xlarge-double-padding { padding: 4em; }

.half-space { margin: 1em; }

.xlarge-half-space { margin: 1em; }

.half-padding { padding: 1em; }

.xlarge-half-padding { padding: 1em; }

.quarter-space { margin: 0.5em; }

.xlarge-quarter-space { margin: 0.5em; }

.quarter-padding { padding: 0.5em; }

.xlarge-quarter-padding { padding: 0.5em; }

.vertical-space { margin-top: 2em; margin-bottom: 2em; }

.xlarge-vertical-space { margin-top: 2em; margin-bottom: 2em; }

.vertical-padding { padding-top: 2em; padding-bottom: 2em; }

.xlarge-vertical-padding { padding-top: 2em; padding-bottom: 2em; }

.double-vertical-space { margin-top: 4em; margin-bottom: 4em; }

.xlarge-double-vertical-space { margin-top: 4em; margin-bottom: 4em; }

.double-vertical-padding { padding-top: 4em; padding-bottom: 4em; }

.xlarge-double-vertical-padding { padding-top: 4em; padding-bottom: 4em; }

.half-vertical-space { margin-top: 1em; margin-bottom: 1em; }

.xlarge-half-vertical-space { margin-top: 1em; margin-bottom: 1em; }

.half-vertical-padding { padding-top: 1em; padding-bottom: 1em; }

.xlarge-half-vertical-padding { padding-top: 1em; padding-bottom: 1em; }

.quarter-vertical-space { margin-top: 0.5em; margin-bottom: 0.5em; }

.xlarge-quarter-vertical-space { margin-top: 0.5em; margin-bottom: 0.5em; }

.quarter-vertical-padding { padding-top: 0.5em; padding-bottom: 0.5em; }

.xlarge-quarter-vertical-padding { padding-top: 0.5em; padding-bottom: 0.5em; }

.horizontal-space { margin-left: 2em; margin-right: 2em; }

.xlarge-horizontal-space { margin-left: 2em; margin-right: 2em; }

.horizontal-padding { padding-left: 2em; padding-right: 2em; }

.xlarge-horizontal-padding { padding-left: 2em; padding-right: 2em; }

.double-horizontal-space { margin-left: 4em; margin-right: 4em; }

.xlarge-double-horizontal-space { margin-left: 4em; margin-right: 4em; }

.double-horizontal-padding { padding-left: 4em; padding-right: 4em; }

.xlarge-double-horizontal-padding { padding-left: 4em; padding-right: 4em; }

.half-horizontal-space { margin-left: 1em; margin-right: 1em; }

.xlarge-half-horizontal-space { margin-left: 1em; margin-right: 1em; }

.half-horizontal-padding { padding-left: 1em; padding-right: 1em; }

.xlarge-half-horizontal-padding { padding-left: 1em; padding-right: 1em; }

.quarter-horizontal-space { margin-left: 0.5em; margin-right: 0.5em; }

.xlarge-quarter-horizontal-space { margin-left: 0.5em; margin-right: 0.5em; }

.quarter-horizontal-padding { padding-left: 0.5em; padding-right: 0.5em; }

.xlarge-quarter-horizontal-padding { padding-left: 0.5em; padding-right: 0.5em; }

.top-space { margin-top: 2em; }

.xlarge-top-space { margin-top: 2em; }

.top-padding { padding-top: 2em; }

.xlarge-top-padding { padding-top: 2em; }

.double-top-space { margin-top: 4em; }

.xlarge-double-top-space { margin-top: 4em; }

.double-top-padding { padding-top: 4em; }

.xlarge-double-top-padding { padding-top: 4em; }

.half-top-space { margin-top: 1em; }

.xlarge-half-top-space { margin-top: 1em; }

.half-top-padding { padding-top: 1em; }

.xlarge-half-top-padding { padding-top: 1em; }

.quarter-top-space { margin-top: 0.5em; }

.xlarge-quarter-top-space { margin-top: 0.5em; }

.quarter-top-padding { padding-top: 0.5em; }

.xlarge-quarter-top-padding { padding-top: 0.5em; }

.right-space { margin-right: 2em; }

.xlarge-right-space { margin-right: 2em; }

.right-padding { padding-right: 2em; }

.xlarge-right-padding { padding-right: 2em; }

.double-right-space { margin-right: 4em; }

.xlarge-double-right-space { margin-right: 4em; }

.double-right-padding { padding-right: 4em; }

.xlarge-double-right-padding { padding-right: 4em; }

.half-right-space { margin-right: 1em; }

.xlarge-half-right-space { margin-right: 1em; }

.half-right-padding { padding-right: 1em; }

.xlarge-half-right-padding { padding-right: 1em; }

.quarter-right-space { margin-right: 0.5em; }

.xlarge-quarter-right-space { margin-right: 0.5em; }

.quarter-right-padding { padding-right: 0.5em; }

.xlarge-quarter-right-padding { padding-right: 0.5em; }

.bottom-space { margin-bottom: 2em; }

.xlarge-bottom-space { margin-bottom: 2em; }

.bottom-padding { padding-bottom: 2em; }

.xlarge-bottom-padding { padding-bottom: 2em; }

.double-bottom-space { margin-bottom: 4em; }

.xlarge-double-bottom-space { margin-bottom: 4em; }

.double-bottom-padding { padding-bottom: 4em; }

.xlarge-double-bottom-padding { padding-bottom: 4em; }

.half-bottom-space { margin-bottom: 1em; }

.xlarge-half-bottom-space { margin-bottom: 1em; }

.half-bottom-padding { padding-bottom: 1em; }

.xlarge-half-bottom-padding { padding-bottom: 1em; }

.quarter-bottom-space { margin-bottom: 0.5em; }

.xlarge-quarter-bottom-space { margin-bottom: 0.5em; }

.quarter-bottom-padding { padding-bottom: 0.5em; }

.xlarge-quarter-bottom-padding { padding-bottom: 0.5em; }

.left-space { margin-left: 2em; }

.xlarge-left-space { margin-left: 2em; }

.left-padding { padding-left: 2em; }

.xlarge-left-padding { padding-left: 2em; }

.double-left-space { margin-left: 4em; }

.xlarge-double-left-space { margin-left: 4em; }

.double-left-padding { padding-left: 4em; }

.xlarge-double-left-padding { padding-left: 4em; }

.half-left-space { margin-left: 1em; }

.xlarge-half-left-space { margin-left: 1em; }

.half-left-padding { padding-left: 1em; }

.xlarge-half-left-padding { padding-left: 1em; }

.quarter-left-space { margin-left: 0.5em; }

.xlarge-quarter-left-space { margin-left: 0.5em; }

.quarter-left-padding { padding-left: 0.5em; }

.xlarge-quarter-left-padding { padding-left: 0.5em; }

.hide-xlarge { display: none !important; }

.show-xlarge { display: inherit !important; }

table.show-xlarge { display: table; }

thead.show-xlarge { display: table-header-group; }

tbody.show-xlarge { display: table-row-group; }

tfoot.show-xlarge { display: table-footer-group; }

tr.show-xlarge { display: table-row; }

th.show-xlarge, td.show-xlarge { display: table-cell; }

.ink-grid { padding: 0 1.75em; }

.column-group > [class*=large-] { float: left; clear: none; }

.large-5 { width: 5%; }

.large-10 { width: 10%; }

.large-15 { width: 15%; }

.large-16 { width: 16.66%; }

.large-20 { width: 20%; }

.large-25 { width: 25%; }

.large-30 { width: 30%; }

.large-33 { width: 33.33%; }

.large-35 { width: 35%; }

.large-40 { width: 40%; }

.large-45 { width: 45%; }

.large-50 { width: 50%; }

.large-55 { width: 55%; }

.large-60 { width: 60%; }

.large-65 { width: 65%; }

.large-66 { width: 66.66%; }

.large-70 { width: 70%; }

.large-75 { width: 75%; }

.large-80 { width: 80%; }

.large-85 { width: 85%; }

.large-90 { width: 90%; }

.large-95 { width: 95%; }

.large-100 { width: 100%; }

[class*=large-100] { float: none; clear: both; }

.column-group { *zoom: 1; }

.column-group:after { content: ""; display: table; clear: both; }

.column-group.gutters { margin-left: -1.75em; }

.column-group.gutters > [class*=large-], .column-group.gutters > [class*=all-] { padding-left: 1.75em; margin-bottom: 1.75em; }

.column-group.horizontal-gutters { margin-left: -1.75em; }

.column-group.horizontal-gutters > [class*=large-], .column-group.horizontal-gutters > [class*=all-] { padding-left: 1.75em; }

.column-group.vertical-gutters > [class*=large-], .column-group.vertical-gutters > [class*=all-] { margin-bottom: 1.75em; }

.column-group.double-gutters { margin-left: -3.5em; }

.column-group.double-gutters > [class*=large-], .column-group.double-gutters > [class*=all-] { padding-left: 3.5em; margin-bottom: 3.5em; }

.column-group.double-horizontal-gutters { margin-left: -3.5em; }

.column-group.double-horizontal-gutters > [class*=large-], .column-group.double-horizontal-gutters > [class*=all-] { padding-left: 3.5em; }

.column-group.double-vertical-gutters > [class*=large-], .column-group.double-vertical-gutters > [class*=all-] { margin-bottom: 3.5em; }

.column-group.half-gutters { margin-left: -0.875em; }

.column-group.half-gutters > [class*=large-], .column-group.half-gutters > [class*=all-] { padding-left: 0.875em; margin-bottom: 0.875em; }

.column-group.half-horizontal-gutters { margin-left: -0.875em; }

.column-group.half-horizontal-gutters > [class*=large-], .column-group.half-horizontal-gutters > [class*=all-] { padding-left: 0.875em; }

.column-group.half-vertical-gutters > [class*=large-], .column-group.half-vertical-gutters > [class*=all-] { margin-bottom: 0.875em; }

.column-group.quarter-gutters { margin-left: -0.4375em; }

.column-group.quarter-gutters > [class*=large-], .column-group.quarter-gutters > [class*=all-] { padding-left: 0.4375em; margin-bottom: 0.4375em; }

.column-group.quarter-horizontal-gutters { margin-left: -0.4375em; }

.column-group.quarter-horizontal-gutters > [class*=large-], .column-group.quarter-horizontal-gutters > [class*=all-] { padding-left: 0.4375em; }

.column-group.quarter-vertical-gutters > [class*=large-], .column-group.quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.4375em; }

.column-group.large-gutters { margin-left: -1.75em; }

.column-group.large-gutters > [class*=large-], .column-group.large-gutters > [class*=all-] { padding-left: 1.75em; margin-bottom: 1.75em; }

.column-group.large-horizontal-gutters { margin-left: -1.75em; }

.column-group.large-horizontal-gutters > [class*=large-], .column-group.large-horizontal-gutters > [class*=all-] { padding-left: 1.75em; }

.column-group.large-vertical-gutters > [class*=large-], .column-group.large-vertical-gutters > [class*=all-] { margin-bottom: 1.75em; }

.column-group.large-double-gutters { margin-left: -3.5em; }

.column-group.large-double-gutters > [class*=large-], .column-group.large-double-gutters > [class*=all-] { padding-left: 3.5em; margin-bottom: 3.5em; }

.column-group.large-double-horizontal-gutters { margin-left: -3.5em; }

.column-group.large-double-horizontal-gutters > [class*=large-], .column-group.large-double-horizontal-gutters > [class*=all-] { padding-left: 3.5em; }

.column-group.large-double-vertical-gutters > [class*=large-], .column-group.large-double-vertical-gutters > [class*=all-] { margin-bottom: 3.5em; }

.column-group.large-half-gutters { margin-left: -0.875em; }

.column-group.large-half-gutters > [class*=large-], .column-group.large-half-gutters > [class*=all-] { padding-left: 0.875em; margin-bottom: 0.875em; }

.column-group.large-half-horizontal-gutters { margin-left: -0.875em; }

.column-group.large-half-horizontal-gutters > [class*=large-], .column-group.large-half-horizontal-gutters > [class*=all-] { padding-left: 0.875em; }

.column-group.large-half-vertical-gutters > [class*=large-], .column-group.large-half-vertical-gutters > [class*=all-] { margin-bottom: 0.875em; }

.column-group.large-quarter-gutters { margin-left: -0.4375em; }

.column-group.large-quarter-gutters > [class*=large-], .column-group.large-quarter-gutters > [class*=all-] { padding-left: 0.4375em; margin-bottom: 0.4375em; }

.column-group.large-quarter-horizontal-gutters { margin-left: -0.4375em; }

.column-group.large-quarter-horizontal-gutters > [class*=large-], .column-group.large-quarter-horizontal-gutters > [class*=all-] { padding-left: 0.4375em; }

.column-group.large-quarter-vertical-gutters > [class*=large-], .column-group.large-quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.4375em; }

.column-group.large-no-gutters { margin-left: 0; }

.column-group.large-no-gutters > [class*=large-], .column-group.large-no-gutters > [class*=all-] { padding-left: 0; margin-bottom: 0; }

.ink-table td[class*=large-], .ink-table th[class*=large-], .ink-table tr[class*=large-], .ink-table thead[class*=large-], .ink-table tbody[class*=large-], .ink-table tfoot[class*=large-] { float: none; }

.push-top, .large-push-top { position: relative; top: 0%; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%); }

.push-bottom, .large-push-bottom { position: relative; top: 100%; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); }

.push-middle, .large-push-middle { position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.large-push-left { float: left; }

.large-push-center { float: none; margin-left: auto; margin-right: auto; }

.large-push-right { float: right; }

.large-align-left { text-align: left; }

.large-align-center { text-align: center; }

.large-align-right { text-align: right; }

.large-no-margin { margin: 0 !important; }

.space { margin: 1.75em; }

.large-space { margin: 1.75em; }

.padding { padding: 1.75em; }

.large-padding { padding: 1.75em; }

.double-space { margin: 3.5em; }

.large-double-space { margin: 3.5em; }

.double-padding { padding: 3.5em; }

.large-double-padding { padding: 3.5em; }

.half-space { margin: 0.875em; }

.large-half-space { margin: 0.875em; }

.half-padding { padding: 0.875em; }

.large-half-padding { padding: 0.875em; }

.quarter-space { margin: 0.4375em; }

.large-quarter-space { margin: 0.4375em; }

.quarter-padding { padding: 0.4375em; }

.large-quarter-padding { padding: 0.4375em; }

.vertical-space { margin-top: 1.75em; margin-bottom: 1.75em; }

.large-vertical-space { margin-top: 1.75em; margin-bottom: 1.75em; }

.vertical-padding { padding-top: 1.75em; padding-bottom: 1.75em; }

.large-vertical-padding { padding-top: 1.75em; padding-bottom: 1.75em; }

.double-vertical-space { margin-top: 3.5em; margin-bottom: 3.5em; }

.large-double-vertical-space { margin-top: 3.5em; margin-bottom: 3.5em; }

.double-vertical-padding { padding-top: 3.5em; padding-bottom: 3.5em; }

.large-double-vertical-padding { padding-top: 3.5em; padding-bottom: 3.5em; }

.half-vertical-space { margin-top: 0.875em; margin-bottom: 0.875em; }

.large-half-vertical-space { margin-top: 0.875em; margin-bottom: 0.875em; }

.half-vertical-padding { padding-top: 0.875em; padding-bottom: 0.875em; }

.large-half-vertical-padding { padding-top: 0.875em; padding-bottom: 0.875em; }

.quarter-vertical-space { margin-top: 0.4375em; margin-bottom: 0.4375em; }

.large-quarter-vertical-space { margin-top: 0.4375em; margin-bottom: 0.4375em; }

.quarter-vertical-padding { padding-top: 0.4375em; padding-bottom: 0.4375em; }

.large-quarter-vertical-padding { padding-top: 0.4375em; padding-bottom: 0.4375em; }

.horizontal-space { margin-left: 1.75em; margin-right: 1.75em; }

.large-horizontal-space { margin-left: 1.75em; margin-right: 1.75em; }

.horizontal-padding { padding-left: 1.75em; padding-right: 1.75em; }

.large-horizontal-padding { padding-left: 1.75em; padding-right: 1.75em; }

.double-horizontal-space { margin-left: 3.5em; margin-right: 3.5em; }

.large-double-horizontal-space { margin-left: 3.5em; margin-right: 3.5em; }

.double-horizontal-padding { padding-left: 3.5em; padding-right: 3.5em; }

.large-double-horizontal-padding { padding-left: 3.5em; padding-right: 3.5em; }

.half-horizontal-space { margin-left: 0.875em; margin-right: 0.875em; }

.large-half-horizontal-space { margin-left: 0.875em; margin-right: 0.875em; }

.half-horizontal-padding { padding-left: 0.875em; padding-right: 0.875em; }

.large-half-horizontal-padding { padding-left: 0.875em; padding-right: 0.875em; }

.quarter-horizontal-space { margin-left: 0.4375em; margin-right: 0.4375em; }

.large-quarter-horizontal-space { margin-left: 0.4375em; margin-right: 0.4375em; }

.quarter-horizontal-padding { padding-left: 0.4375em; padding-right: 0.4375em; }

.large-quarter-horizontal-padding { padding-left: 0.4375em; padding-right: 0.4375em; }

.top-space { margin-top: 1.75em; }

.large-top-space { margin-top: 1.75em; }

.top-padding { padding-top: 1.75em; }

.large-top-padding { padding-top: 1.75em; }

.double-top-space { margin-top: 3.5em; }

.large-double-top-space { margin-top: 3.5em; }

.double-top-padding { padding-top: 3.5em; }

.large-double-top-padding { padding-top: 3.5em; }

.half-top-space { margin-top: 0.875em; }

.large-half-top-space { margin-top: 0.875em; }

.half-top-padding { padding-top: 0.875em; }

.large-half-top-padding { padding-top: 0.875em; }

.quarter-top-space { margin-top: 0.4375em; }

.large-quarter-top-space { margin-top: 0.4375em; }

.quarter-top-padding { padding-top: 0.4375em; }

.large-quarter-top-padding { padding-top: 0.4375em; }

.right-space { margin-right: 1.75em; }

.large-right-space { margin-right: 1.75em; }

.right-padding { padding-right: 1.75em; }

.large-right-padding { padding-right: 1.75em; }

.double-right-space { margin-right: 3.5em; }

.large-double-right-space { margin-right: 3.5em; }

.double-right-padding { padding-right: 3.5em; }

.large-double-right-padding { padding-right: 3.5em; }

.half-right-space { margin-right: 0.875em; }

.large-half-right-space { margin-right: 0.875em; }

.half-right-padding { padding-right: 0.875em; }

.large-half-right-padding { padding-right: 0.875em; }

.quarter-right-space { margin-right: 0.4375em; }

.large-quarter-right-space { margin-right: 0.4375em; }

.quarter-right-padding { padding-right: 0.4375em; }

.large-quarter-right-padding { padding-right: 0.4375em; }

.bottom-space { margin-bottom: 1.75em; }

.large-bottom-space { margin-bottom: 1.75em; }

.bottom-padding { padding-bottom: 1.75em; }

.large-bottom-padding { padding-bottom: 1.75em; }

.double-bottom-space { margin-bottom: 3.5em; }

.large-double-bottom-space { margin-bottom: 3.5em; }

.double-bottom-padding { padding-bottom: 3.5em; }

.large-double-bottom-padding { padding-bottom: 3.5em; }

.half-bottom-space { margin-bottom: 0.875em; }

.large-half-bottom-space { margin-bottom: 0.875em; }

.half-bottom-padding { padding-bottom: 0.875em; }

.large-half-bottom-padding { padding-bottom: 0.875em; }

.quarter-bottom-space { margin-bottom: 0.4375em; }

.large-quarter-bottom-space { margin-bottom: 0.4375em; }

.quarter-bottom-padding { padding-bottom: 0.4375em; }

.large-quarter-bottom-padding { padding-bottom: 0.4375em; }

.left-space { margin-left: 1.75em; }

.large-left-space { margin-left: 1.75em; }

.left-padding { padding-left: 1.75em; }

.large-left-padding { padding-left: 1.75em; }

.double-left-space { margin-left: 3.5em; }

.large-double-left-space { margin-left: 3.5em; }

.double-left-padding { padding-left: 3.5em; }

.large-double-left-padding { padding-left: 3.5em; }

.half-left-space { margin-left: 0.875em; }

.large-half-left-space { margin-left: 0.875em; }

.half-left-padding { padding-left: 0.875em; }

.large-half-left-padding { padding-left: 0.875em; }

.quarter-left-space { margin-left: 0.4375em; }

.large-quarter-left-space { margin-left: 0.4375em; }

.quarter-left-padding { padding-left: 0.4375em; }

.large-quarter-left-padding { padding-left: 0.4375em; }

.hide-large { display: none !important; }

.show-large { display: inherit !important; }

table.show-large { display: table; }

thead.show-large { display: table-header-group; }

tbody.show-large { display: table-row-group; }

tfoot.show-large { display: table-footer-group; }

tr.show-large { display: table-row; }

th.show-large, td.show-large { display: table-cell; }

.ink-grid { padding: 0 1.5em; }

.column-group > [class*=medium-] { float: left; clear: none; }

.medium-5 { width: 5%; }

.medium-10 { width: 10%; }

.medium-15 { width: 15%; }

.medium-16 { width: 16.66%; }

.medium-20 { width: 20%; }

.medium-25 { width: 25%; }

.medium-30 { width: 30%; }

.medium-33 { width: 33.33%; }

.medium-35 { width: 35%; }

.medium-40 { width: 40%; }

.medium-45 { width: 45%; }

.medium-50 { width: 50%; }

.medium-55 { width: 55%; }

.medium-60 { width: 60%; }

.medium-65 { width: 65%; }

.medium-66 { width: 66.66%; }

.medium-70 { width: 70%; }

.medium-75 { width: 75%; }

.medium-80 { width: 80%; }

.medium-85 { width: 85%; }

.medium-90 { width: 90%; }

.medium-95 { width: 95%; }

.medium-100 { width: 100%; }

[class*=medium-100] { float: none; clear: both; }

.column-group { *zoom: 1; }

.column-group:after { content: ""; display: table; clear: both; }

.column-group.gutters { margin-left: -1.5em; }

.column-group.gutters > [class*=medium-], .column-group.gutters > [class*=all-] { padding-left: 1.5em; margin-bottom: 1.5em; }

.column-group.horizontal-gutters { margin-left: -1.5em; }

.column-group.horizontal-gutters > [class*=medium-], .column-group.horizontal-gutters > [class*=all-] { padding-left: 1.5em; }

.column-group.vertical-gutters > [class*=medium-], .column-group.vertical-gutters > [class*=all-] { margin-bottom: 1.5em; }

.column-group.double-gutters { margin-left: -3em; }

.column-group.double-gutters > [class*=medium-], .column-group.double-gutters > [class*=all-] { padding-left: 3em; margin-bottom: 3em; }

.column-group.double-horizontal-gutters { margin-left: -3em; }

.column-group.double-horizontal-gutters > [class*=medium-], .column-group.double-horizontal-gutters > [class*=all-] { padding-left: 3em; }

.column-group.double-vertical-gutters > [class*=medium-], .column-group.double-vertical-gutters > [class*=all-] { margin-bottom: 3em; }

.column-group.half-gutters { margin-left: -0.75em; }

.column-group.half-gutters > [class*=medium-], .column-group.half-gutters > [class*=all-] { padding-left: 0.75em; margin-bottom: 0.75em; }

.column-group.half-horizontal-gutters { margin-left: -0.75em; }

.column-group.half-horizontal-gutters > [class*=medium-], .column-group.half-horizontal-gutters > [class*=all-] { padding-left: 0.75em; }

.column-group.half-vertical-gutters > [class*=medium-], .column-group.half-vertical-gutters > [class*=all-] { margin-bottom: 0.75em; }

.column-group.quarter-gutters { margin-left: -0.375em; }

.column-group.quarter-gutters > [class*=medium-], .column-group.quarter-gutters > [class*=all-] { padding-left: 0.375em; margin-bottom: 0.375em; }

.column-group.quarter-horizontal-gutters { margin-left: -0.375em; }

.column-group.quarter-horizontal-gutters > [class*=medium-], .column-group.quarter-horizontal-gutters > [class*=all-] { padding-left: 0.375em; }

.column-group.quarter-vertical-gutters > [class*=medium-], .column-group.quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.375em; }

.column-group.medium-gutters { margin-left: -1.5em; }

.column-group.medium-gutters > [class*=medium-], .column-group.medium-gutters > [class*=all-] { padding-left: 1.5em; margin-bottom: 1.5em; }

.column-group.medium-horizontal-gutters { margin-left: -1.5em; }

.column-group.medium-horizontal-gutters > [class*=medium-], .column-group.medium-horizontal-gutters > [class*=all-] { padding-left: 1.5em; }

.column-group.medium-vertical-gutters > [class*=medium-], .column-group.medium-vertical-gutters > [class*=all-] { margin-bottom: 1.5em; }

.column-group.medium-double-gutters { margin-left: -3em; }

.column-group.medium-double-gutters > [class*=medium-], .column-group.medium-double-gutters > [class*=all-] { padding-left: 3em; margin-bottom: 3em; }

.column-group.medium-double-horizontal-gutters { margin-left: -3em; }

.column-group.medium-double-horizontal-gutters > [class*=medium-], .column-group.medium-double-horizontal-gutters > [class*=all-] { padding-left: 3em; }

.column-group.medium-double-vertical-gutters > [class*=medium-], .column-group.medium-double-vertical-gutters > [class*=all-] { margin-bottom: 3em; }

.column-group.medium-half-gutters { margin-left: -0.75em; }

.column-group.medium-half-gutters > [class*=medium-], .column-group.medium-half-gutters > [class*=all-] { padding-left: 0.75em; margin-bottom: 0.75em; }

.column-group.medium-half-horizontal-gutters { margin-left: -0.75em; }

.column-group.medium-half-horizontal-gutters > [class*=medium-], .column-group.medium-half-horizontal-gutters > [class*=all-] { padding-left: 0.75em; }

.column-group.medium-half-vertical-gutters > [class*=medium-], .column-group.medium-half-vertical-gutters > [class*=all-] { margin-bottom: 0.75em; }

.column-group.medium-quarter-gutters { margin-left: -0.375em; }

.column-group.medium-quarter-gutters > [class*=medium-], .column-group.medium-quarter-gutters > [class*=all-] { padding-left: 0.375em; margin-bottom: 0.375em; }

.column-group.medium-quarter-horizontal-gutters { margin-left: -0.375em; }

.column-group.medium-quarter-horizontal-gutters > [class*=medium-], .column-group.medium-quarter-horizontal-gutters > [class*=all-] { padding-left: 0.375em; }

.column-group.medium-quarter-vertical-gutters > [class*=medium-], .column-group.medium-quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.375em; }

.column-group.medium-no-gutters { margin-left: 0; }

.column-group.medium-no-gutters > [class*=medium-], .column-group.medium-no-gutters > [class*=all-] { padding-left: 0; margin-bottom: 0; }

.ink-table td[class*=medium-], .ink-table th[class*=medium-], .ink-table tr[class*=medium-], .ink-table thead[class*=medium-], .ink-table tbody[class*=medium-], .ink-table tfoot[class*=medium-] { float: none; }

.push-top, .medium-push-top { position: relative; top: 0%; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%); }

.push-bottom, .medium-push-bottom { position: relative; top: 100%; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); }

.push-middle, .medium-push-middle { position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.medium-push-left { float: left; }

.medium-push-center { float: none; margin-left: auto; margin-right: auto; }

.medium-push-right { float: right; }

.medium-align-left { text-align: left; }

.medium-align-center { text-align: center; }

.medium-align-right { text-align: right; }

.medium-no-margin { margin: 0 !important; }

.space { margin: 1.5em; }

.medium-space { margin: 1.5em; }

.padding { padding: 1.5em; }

.medium-padding { padding: 1.5em; }

.double-space { margin: 3em; }

.medium-double-space { margin: 3em; }

.double-padding { padding: 3em; }

.medium-double-padding { padding: 3em; }

.half-space { margin: 0.75em; }

.medium-half-space { margin: 0.75em; }

.half-padding { padding: 0.75em; }

.medium-half-padding { padding: 0.75em; }

.quarter-space { margin: 0.375em; }

.medium-quarter-space { margin: 0.375em; }

.quarter-padding { padding: 0.375em; }

.medium-quarter-padding { padding: 0.375em; }

.vertical-space { margin-top: 1.5em; margin-bottom: 1.5em; }

.medium-vertical-space { margin-top: 1.5em; margin-bottom: 1.5em; }

.vertical-padding { padding-top: 1.5em; padding-bottom: 1.5em; }

.medium-vertical-padding { padding-top: 1.5em; padding-bottom: 1.5em; }

.double-vertical-space { margin-top: 3em; margin-bottom: 3em; }

.medium-double-vertical-space { margin-top: 3em; margin-bottom: 3em; }

.double-vertical-padding { padding-top: 3em; padding-bottom: 3em; }

.medium-double-vertical-padding { padding-top: 3em; padding-bottom: 3em; }

.half-vertical-space { margin-top: 0.75em; margin-bottom: 0.75em; }

.medium-half-vertical-space { margin-top: 0.75em; margin-bottom: 0.75em; }

.half-vertical-padding { padding-top: 0.75em; padding-bottom: 0.75em; }

.medium-half-vertical-padding { padding-top: 0.75em; padding-bottom: 0.75em; }

.quarter-vertical-space { margin-top: 0.375em; margin-bottom: 0.375em; }

.medium-quarter-vertical-space { margin-top: 0.375em; margin-bottom: 0.375em; }

.quarter-vertical-padding { padding-top: 0.375em; padding-bottom: 0.375em; }

.medium-quarter-vertical-padding { padding-top: 0.375em; padding-bottom: 0.375em; }

.horizontal-space { margin-left: 1.5em; margin-right: 1.5em; }

.medium-horizontal-space { margin-left: 1.5em; margin-right: 1.5em; }

.horizontal-padding { padding-left: 1.5em; padding-right: 1.5em; }

.medium-horizontal-padding { padding-left: 1.5em; padding-right: 1.5em; }

.double-horizontal-space { margin-left: 3em; margin-right: 3em; }

.medium-double-horizontal-space { margin-left: 3em; margin-right: 3em; }

.double-horizontal-padding { padding-left: 3em; padding-right: 3em; }

.medium-double-horizontal-padding { padding-left: 3em; padding-right: 3em; }

.half-horizontal-space { margin-left: 0.75em; margin-right: 0.75em; }

.medium-half-horizontal-space { margin-left: 0.75em; margin-right: 0.75em; }

.half-horizontal-padding { padding-left: 0.75em; padding-right: 0.75em; }

.medium-half-horizontal-padding { padding-left: 0.75em; padding-right: 0.75em; }

.quarter-horizontal-space { margin-left: 0.375em; margin-right: 0.375em; }

.medium-quarter-horizontal-space { margin-left: 0.375em; margin-right: 0.375em; }

.quarter-horizontal-padding { padding-left: 0.375em; padding-right: 0.375em; }

.medium-quarter-horizontal-padding { padding-left: 0.375em; padding-right: 0.375em; }

.top-space { margin-top: 1.5em; }

.medium-top-space { margin-top: 1.5em; }

.top-padding { padding-top: 1.5em; }

.medium-top-padding { padding-top: 1.5em; }

.double-top-space { margin-top: 3em; }

.medium-double-top-space { margin-top: 3em; }

.double-top-padding { padding-top: 3em; }

.medium-double-top-padding { padding-top: 3em; }

.half-top-space { margin-top: 0.75em; }

.medium-half-top-space { margin-top: 0.75em; }

.half-top-padding { padding-top: 0.75em; }

.medium-half-top-padding { padding-top: 0.75em; }

.quarter-top-space { margin-top: 0.375em; }

.medium-quarter-top-space { margin-top: 0.375em; }

.quarter-top-padding { padding-top: 0.375em; }

.medium-quarter-top-padding { padding-top: 0.375em; }

.right-space { margin-right: 1.5em; }

.medium-right-space { margin-right: 1.5em; }

.right-padding { padding-right: 1.5em; }

.medium-right-padding { padding-right: 1.5em; }

.double-right-space { margin-right: 3em; }

.medium-double-right-space { margin-right: 3em; }

.double-right-padding { padding-right: 3em; }

.medium-double-right-padding { padding-right: 3em; }

.half-right-space { margin-right: 0.75em; }

.medium-half-right-space { margin-right: 0.75em; }

.half-right-padding { padding-right: 0.75em; }

.medium-half-right-padding { padding-right: 0.75em; }

.quarter-right-space { margin-right: 0.375em; }

.medium-quarter-right-space { margin-right: 0.375em; }

.quarter-right-padding { padding-right: 0.375em; }

.medium-quarter-right-padding { padding-right: 0.375em; }

.bottom-space { margin-bottom: 1.5em; }

.medium-bottom-space { margin-bottom: 1.5em; }

.bottom-padding { padding-bottom: 1.5em; }

.medium-bottom-padding { padding-bottom: 1.5em; }

.double-bottom-space { margin-bottom: 3em; }

.medium-double-bottom-space { margin-bottom: 3em; }

.double-bottom-padding { padding-bottom: 3em; }

.medium-double-bottom-padding { padding-bottom: 3em; }

.half-bottom-space { margin-bottom: 0.75em; }

.medium-half-bottom-space { margin-bottom: 0.75em; }

.half-bottom-padding { padding-bottom: 0.75em; }

.medium-half-bottom-padding { padding-bottom: 0.75em; }

.quarter-bottom-space { margin-bottom: 0.375em; }

.medium-quarter-bottom-space { margin-bottom: 0.375em; }

.quarter-bottom-padding { padding-bottom: 0.375em; }

.medium-quarter-bottom-padding { padding-bottom: 0.375em; }

.left-space { margin-left: 1.5em; }

.medium-left-space { margin-left: 1.5em; }

.left-padding { padding-left: 1.5em; }

.medium-left-padding { padding-left: 1.5em; }

.double-left-space { margin-left: 3em; }

.medium-double-left-space { margin-left: 3em; }

.double-left-padding { padding-left: 3em; }

.medium-double-left-padding { padding-left: 3em; }

.half-left-space { margin-left: 0.75em; }

.medium-half-left-space { margin-left: 0.75em; }

.half-left-padding { padding-left: 0.75em; }

.medium-half-left-padding { padding-left: 0.75em; }

.quarter-left-space { margin-left: 0.375em; }

.medium-quarter-left-space { margin-left: 0.375em; }

.quarter-left-padding { padding-left: 0.375em; }

.medium-quarter-left-padding { padding-left: 0.375em; }

.hide-medium { display: none !important; }

.show-medium { display: inherit !important; }

table.show-medium { display: table; }

thead.show-medium { display: table-header-group; }

tbody.show-medium { display: table-row-group; }

tfoot.show-medium { display: table-footer-group; }

tr.show-medium { display: table-row; }

th.show-medium, td.show-medium { display: table-cell; }

.ink-grid { padding: 0 1em; }

.column-group > [class*=tiny-] { float: left; clear: none; }

.tiny-5 { width: 5%; }

.tiny-10 { width: 10%; }

.tiny-15 { width: 15%; }

.tiny-16 { width: 16.66%; }

.tiny-20 { width: 20%; }

.tiny-25 { width: 25%; }

.tiny-30 { width: 30%; }

.tiny-33 { width: 33.33%; }

.tiny-35 { width: 35%; }

.tiny-40 { width: 40%; }

.tiny-45 { width: 45%; }

.tiny-50 { width: 50%; }

.tiny-55 { width: 55%; }

.tiny-60 { width: 60%; }

.tiny-65 { width: 65%; }

.tiny-66 { width: 66.66%; }

.tiny-70 { width: 70%; }

.tiny-75 { width: 75%; }

.tiny-80 { width: 80%; }

.tiny-85 { width: 85%; }

.tiny-90 { width: 90%; }

.tiny-95 { width: 95%; }

.tiny-100 { width: 100%; }

[class*=tiny-100] { float: none; clear: both; }

.column-group { *zoom: 1; }

.column-group:after { content: ""; display: table; clear: both; }

.column-group.gutters { margin-left: -1em; }

.column-group.gutters > [class*=tiny-], .column-group.gutters > [class*=all-] { padding-left: 1em; margin-bottom: 1em; }

.column-group.horizontal-gutters { margin-left: -1em; }

.column-group.horizontal-gutters > [class*=tiny-], .column-group.horizontal-gutters > [class*=all-] { padding-left: 1em; }

.column-group.vertical-gutters > [class*=tiny-], .column-group.vertical-gutters > [class*=all-] { margin-bottom: 1em; }

.column-group.double-gutters { margin-left: -2em; }

.column-group.double-gutters > [class*=tiny-], .column-group.double-gutters > [class*=all-] { padding-left: 2em; margin-bottom: 2em; }

.column-group.double-horizontal-gutters { margin-left: -2em; }

.column-group.double-horizontal-gutters > [class*=tiny-], .column-group.double-horizontal-gutters > [class*=all-] { padding-left: 2em; }

.column-group.double-vertical-gutters > [class*=tiny-], .column-group.double-vertical-gutters > [class*=all-] { margin-bottom: 2em; }

.column-group.half-gutters { margin-left: -0.5em; }

.column-group.half-gutters > [class*=tiny-], .column-group.half-gutters > [class*=all-] { padding-left: 0.5em; margin-bottom: 0.5em; }

.column-group.half-horizontal-gutters { margin-left: -0.5em; }

.column-group.half-horizontal-gutters > [class*=tiny-], .column-group.half-horizontal-gutters > [class*=all-] { padding-left: 0.5em; }

.column-group.half-vertical-gutters > [class*=tiny-], .column-group.half-vertical-gutters > [class*=all-] { margin-bottom: 0.5em; }

.column-group.quarter-gutters { margin-left: -0.25em; }

.column-group.quarter-gutters > [class*=tiny-], .column-group.quarter-gutters > [class*=all-] { padding-left: 0.25em; margin-bottom: 0.25em; }

.column-group.quarter-horizontal-gutters { margin-left: -0.25em; }

.column-group.quarter-horizontal-gutters > [class*=tiny-], .column-group.quarter-horizontal-gutters > [class*=all-] { padding-left: 0.25em; }

.column-group.quarter-vertical-gutters > [class*=tiny-], .column-group.quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.25em; }

.column-group.tiny-gutters { margin-left: -1em; }

.column-group.tiny-gutters > [class*=tiny-], .column-group.tiny-gutters > [class*=all-] { padding-left: 1em; margin-bottom: 1em; }

.column-group.tiny-horizontal-gutters { margin-left: -1em; }

.column-group.tiny-horizontal-gutters > [class*=tiny-], .column-group.tiny-horizontal-gutters > [class*=all-] { padding-left: 1em; }

.column-group.tiny-vertical-gutters > [class*=tiny-], .column-group.tiny-vertical-gutters > [class*=all-] { margin-bottom: 1em; }

.column-group.tiny-double-gutters { margin-left: -2em; }

.column-group.tiny-double-gutters > [class*=tiny-], .column-group.tiny-double-gutters > [class*=all-] { padding-left: 2em; margin-bottom: 2em; }

.column-group.tiny-double-horizontal-gutters { margin-left: -2em; }

.column-group.tiny-double-horizontal-gutters > [class*=tiny-], .column-group.tiny-double-horizontal-gutters > [class*=all-] { padding-left: 2em; }

.column-group.tiny-double-vertical-gutters > [class*=tiny-], .column-group.tiny-double-vertical-gutters > [class*=all-] { margin-bottom: 2em; }

.column-group.tiny-half-gutters { margin-left: -0.5em; }

.column-group.tiny-half-gutters > [class*=tiny-], .column-group.tiny-half-gutters > [class*=all-] { padding-left: 0.5em; margin-bottom: 0.5em; }

.column-group.tiny-half-horizontal-gutters { margin-left: -0.5em; }

.column-group.tiny-half-horizontal-gutters > [class*=tiny-], .column-group.tiny-half-horizontal-gutters > [class*=all-] { padding-left: 0.5em; }

.column-group.tiny-half-vertical-gutters > [class*=tiny-], .column-group.tiny-half-vertical-gutters > [class*=all-] { margin-bottom: 0.5em; }

.column-group.tiny-quarter-gutters { margin-left: -0.25em; }

.column-group.tiny-quarter-gutters > [class*=tiny-], .column-group.tiny-quarter-gutters > [class*=all-] { padding-left: 0.25em; margin-bottom: 0.25em; }

.column-group.tiny-quarter-horizontal-gutters { margin-left: -0.25em; }

.column-group.tiny-quarter-horizontal-gutters > [class*=tiny-], .column-group.tiny-quarter-horizontal-gutters > [class*=all-] { padding-left: 0.25em; }

.column-group.tiny-quarter-vertical-gutters > [class*=tiny-], .column-group.tiny-quarter-vertical-gutters > [class*=all-] { margin-bottom: 0.25em; }

.column-group.tiny-no-gutters { margin-left: 0; }

.column-group.tiny-no-gutters > [class*=tiny-], .column-group.tiny-no-gutters > [class*=all-] { padding-left: 0; margin-bottom: 0; }

.ink-table td[class*=tiny-], .ink-table th[class*=tiny-], .ink-table tr[class*=tiny-], .ink-table thead[class*=tiny-], .ink-table tbody[class*=tiny-], .ink-table tfoot[class*=tiny-] { float: none; }

.push-top, .tiny-push-top { position: relative; top: 0%; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%); }

.push-bottom, .tiny-push-bottom { position: relative; top: 100%; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); }

.push-middle, .tiny-push-middle { position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.tiny-push-left { float: left; }

.tiny-push-center { float: none; margin-left: auto; margin-right: auto; }

.tiny-push-right { float: right; }

.tiny-align-left { text-align: left; }

.tiny-align-center { text-align: center; }

.tiny-align-right { text-align: right; }

.tiny-no-margin { margin: 0 !important; }

.space { margin: 1em; }

.tiny-space { margin: 1em; }

.padding { padding: 1em; }

.tiny-padding { padding: 1em; }

.double-space { margin: 2em; }

.tiny-double-space { margin: 2em; }

.double-padding { padding: 2em; }

.tiny-double-padding { padding: 2em; }

.half-space { margin: 0.5em; }

.tiny-half-space { margin: 0.5em; }

.half-padding { padding: 0.5em; }

.tiny-half-padding { padding: 0.5em; }

.quarter-space { margin: 0.25em; }

.tiny-quarter-space { margin: 0.25em; }

.quarter-padding { padding: 0.25em; }

.tiny-quarter-padding { padding: 0.25em; }

.vertical-space { margin-top: 1em; margin-bottom: 1em; }

.tiny-vertical-space { margin-top: 1em; margin-bottom: 1em; }

.vertical-padding { padding-top: 1em; padding-bottom: 1em; }

.tiny-vertical-padding { padding-top: 1em; padding-bottom: 1em; }

.double-vertical-space { margin-top: 2em; margin-bottom: 2em; }

.tiny-double-vertical-space { margin-top: 2em; margin-bottom: 2em; }

.double-vertical-padding { padding-top: 2em; padding-bottom: 2em; }

.tiny-double-vertical-padding { padding-top: 2em; padding-bottom: 2em; }

.half-vertical-space { margin-top: 0.5em; margin-bottom: 0.5em; }

.tiny-half-vertical-space { margin-top: 0.5em; margin-bottom: 0.5em; }

.half-vertical-padding { padding-top: 0.5em; padding-bottom: 0.5em; }

.tiny-half-vertical-padding { padding-top: 0.5em; padding-bottom: 0.5em; }

.quarter-vertical-space { margin-top: 0.25em; margin-bottom: 0.25em; }

.tiny-quarter-vertical-space { margin-top: 0.25em; margin-bottom: 0.25em; }

.quarter-vertical-padding { padding-top: 0.25em; padding-bottom: 0.25em; }

.tiny-quarter-vertical-padding { padding-top: 0.25em; padding-bottom: 0.25em; }

.horizontal-space { margin-left: 1em; margin-right: 1em; }

.tiny-horizontal-space { margin-left: 1em; margin-right: 1em; }

.horizontal-padding { padding-left: 1em; padding-right: 1em; }

.tiny-horizontal-padding { padding-left: 1em; padding-right: 1em; }

.double-horizontal-space { margin-left: 2em; margin-right: 2em; }

.tiny-double-horizontal-space { margin-left: 2em; margin-right: 2em; }

.double-horizontal-padding { padding-left: 2em; padding-right: 2em; }

.tiny-double-horizontal-padding { padding-left: 2em; padding-right: 2em; }

.half-horizontal-space { margin-left: 0.5em; margin-right: 0.5em; }

.tiny-half-horizontal-space { margin-left: 0.5em; margin-right: 0.5em; }

.half-horizontal-padding { padding-left: 0.5em; padding-right: 0.5em; }

.tiny-half-horizontal-padding { padding-left: 0.5em; padding-right: 0.5em; }

.quarter-horizontal-space { margin-left: 0.25em; margin-right: 0.25em; }

.tiny-quarter-horizontal-space { margin-left: 0.25em; margin-right: 0.25em; }

.quarter-horizontal-padding { padding-left: 0.25em; padding-right: 0.25em; }

.tiny-quarter-horizontal-padding { padding-left: 0.25em; padding-right: 0.25em; }

.top-space { margin-top: 1em; }

.tiny-top-space { margin-top: 1em; }

.top-padding { padding-top: 1em; }

.tiny-top-padding { padding-top: 1em; }

.double-top-space { margin-top: 2em; }

.tiny-double-top-space { margin-top: 2em; }

.double-top-padding { padding-top: 2em; }

.tiny-double-top-padding { padding-top: 2em; }

.half-top-space { margin-top: 0.5em; }

.tiny-half-top-space { margin-top: 0.5em; }

.half-top-padding { padding-top: 0.5em; }

.tiny-half-top-padding { padding-top: 0.5em; }

.quarter-top-space { margin-top: 0.25em; }

.tiny-quarter-top-space { margin-top: 0.25em; }

.quarter-top-padding { padding-top: 0.25em; }

.tiny-quarter-top-padding { padding-top: 0.25em; }

.right-space { margin-right: 1em; }

.tiny-right-space { margin-right: 1em; }

.right-padding { padding-right: 1em; }

.tiny-right-padding { padding-right: 1em; }

.double-right-space { margin-right: 2em; }

.tiny-double-right-space { margin-right: 2em; }

.double-right-padding { padding-right: 2em; }

.tiny-double-right-padding { padding-right: 2em; }

.half-right-space { margin-right: 0.5em; }

.tiny-half-right-space { margin-right: 0.5em; }

.half-right-padding { padding-right: 0.5em; }

.tiny-half-right-padding { padding-right: 0.5em; }

.quarter-right-space { margin-right: 0.25em; }

.tiny-quarter-right-space { margin-right: 0.25em; }

.quarter-right-padding { padding-right: 0.25em; }

.tiny-quarter-right-padding { padding-right: 0.25em; }

.bottom-space { margin-bottom: 1em; }

.tiny-bottom-space { margin-bottom: 1em; }

.bottom-padding { padding-bottom: 1em; }

.tiny-bottom-padding { padding-bottom: 1em; }

.double-bottom-space { margin-bottom: 2em; }

.tiny-double-bottom-space { margin-bottom: 2em; }

.double-bottom-padding { padding-bottom: 2em; }

.tiny-double-bottom-padding { padding-bottom: 2em; }

.half-bottom-space { margin-bottom: 0.5em; }

.tiny-half-bottom-space { margin-bottom: 0.5em; }

.half-bottom-padding { padding-bottom: 0.5em; }

.tiny-half-bottom-padding { padding-bottom: 0.5em; }

.quarter-bottom-space { margin-bottom: 0.25em; }

.tiny-quarter-bottom-space { margin-bottom: 0.25em; }

.quarter-bottom-padding { padding-bottom: 0.25em; }

.tiny-quarter-bottom-padding { padding-bottom: 0.25em; }

.left-space { margin-left: 1em; }

.tiny-left-space { margin-left: 1em; }

.left-padding { padding-left: 1em; }

.tiny-left-padding { padding-left: 1em; }

.double-left-space { margin-left: 2em; }

.tiny-double-left-space { margin-left: 2em; }

.double-left-padding { padding-left: 2em; }

.tiny-double-left-padding { padding-left: 2em; }

.half-left-space { margin-left: 0.5em; }

.tiny-half-left-space { margin-left: 0.5em; }

.half-left-padding { padding-left: 0.5em; }

.tiny-half-left-padding { padding-left: 0.5em; }

.quarter-left-space { margin-left: 0.25em; }

.tiny-quarter-left-space { margin-left: 0.25em; }

.quarter-left-padding { padding-left: 0.25em; }

.tiny-quarter-left-padding { padding-left: 0.25em; }

.hide-tiny { display: none !important; }

.show-tiny { display: inherit !important; }

table.show-tiny { display: table; }

thead.show-tiny { display: table-header-group; }

tbody.show-tiny { display: table-row-group; }

tfoot.show-tiny { display: table-footer-group; }

tr.show-tiny { display: table-row; }

th.show-tiny, td.show-tiny { display: table-cell; }

@media print { * { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; /* h5bp.com/t */ }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .ink-navigation { display: none; }
  .ink-table { border-collapse: collapse; }
  .ink-label { border: 1px solid #000; } }
