html { background-color: #000; background-size: cover; background-repeat: no-repeat; background-image: url("image/conciert.png"); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: center; background-attachment: fixed; }

.loading { bottom: 0px; position: fixed; width: 100%; top: 44%; }

.loading i { color: #e6e6e6; font-size: 3.5em; }

.ticket { border-radius: 0.5em; }

.ticket input.gray { background: rgba(200, 200, 200, 0.4); border-color: rgba(200, 200, 200, 0.4); }

ul.list li { border-radius: 0.5em; background-color: #fff; color: #000; }

ul.list li .all-65 { border-left: #000 dotted 0.2em; }

@media screen and (min-width: 1261px) { .logo { height: 12em; }
  .ticket { transform: rotate(-3deg); background-color: transparent; background-size: 50% 100%; background-repeat: no-repeat; background-position: top left, top right; background-image: -webkit-radial-gradient(circle at -10% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), -webkit-radial-gradient(circle at 110% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); background-image: -webkit-radial-gradient(-10% 50% circle, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), -webkit-radial-gradient(110% 50% circle, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); background-image: radial-gradient(circle at -10% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), radial-gradient(circle at 110% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); }
  .ticket .ng-form { border-left: #000 dotted 0.2em; }
  input.gray { background: rgba(220, 220, 220, 0.4); border-color: rgba(220, 220, 220, 0.4); } }

@media screen and (min-width: 961px) and (max-width: 1260px) { /* your css for large screens goes here ... */
  .ticket { transform: rotate(-3deg); background-color: transparent; background-size: 50% 100%; background-repeat: no-repeat; background-position: top left, top right; background-image: -webkit-radial-gradient(circle at -10% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), -webkit-radial-gradient(circle at 110% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); background-image: -webkit-radial-gradient(-10% 50% circle, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), -webkit-radial-gradient(110% 50% circle, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); background-image: radial-gradient(circle at -10% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), radial-gradient(circle at 110% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); }
  .ticket .ng-form { border-left: #000 dotted 0.2em; }
  .logo { height: 12em; }
  input.gray { background: rgba(220, 220, 220, 0.4); border-color: rgba(220, 220, 220, 0.4); } }

@media screen and (min-width: 641px) and (max-width: 960px) { /* your css for medium screens goes here ... */
  .ticket { transform: rotate(-3deg); background-color: transparent; background-size: 50% 100%; background-repeat: no-repeat; background-position: top left, top right; background-image: -webkit-radial-gradient(circle at -10% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), -webkit-radial-gradient(circle at 110% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); background-image: -webkit-radial-gradient(-10% 50% circle, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), -webkit-radial-gradient(110% 50% circle, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); background-image: radial-gradient(circle at -10% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em), radial-gradient(circle at 110% 50%, rgba(255, 255, 225, 0) 4.5em, #fccd83 4em); }
  .ticket .ng-form { border-left: #000 dotted 0.2em; }
  .logo { height: 12em; }
  input.gray { background: rgba(220, 220, 220, 0.4); border-color: rgba(220, 220, 220, 0.4); } }

@media screen and (min-width: 321px) and (max-width: 640px) { /* your css for small screens goes here ... */
  .ticket input.gray { background: rgba(220, 220, 220, 0.8); border-color: rgba(220, 220, 220, 0.8); } }

@media screen and (max-width: 320px) { /* your css for tiny screens goes here ... */
  .ticket input.gray { background: rgba(220, 220, 220, 0.8); border-color: rgba(220, 220, 220, 0.8); } }
