.#{$badge-class-name} {

    @include border-radius(8em);
    color: $white;
    
    &.#{$white-color-class-name} {
        background: $white;
        color: $text-color;
    }
    &.#{$black-color-class-name} {
        background: $black;
    }
    &.#{$orange-color-class-name} {
        background: $orange;
    }
    &.#{$red-color-class-name} {
        background: $red;
    }
    &.#{$green-color-class-name} {
        background: $green;
    }
    &.#{$blue-color-class-name} {
        background: $blue;
    }
    &.#{$yellow-color-class-name} {
        background: $yellow;
        color: $text-color;
    }
    &.#{$grey-color-class-name} {
        background: $grey-50;
    }

    & + .#{$badge-class-name} {
        margin-left: .2em;
    }

}
