div.medium-100.small-100.tiny-100.large-90.xlarge-70( class=[ name.double + '-top-space', 'push-' + name.centerPosition, name.bottomPosition + '-space' ] )
	h1.rotate El único lugar que te informa de tus conciertos
	.ticket( class=[ name.columnGroup, 'large-' + name.double + '-' + name.horizontal + '-padding', name.all  + '-100', 'xlarge-' + name.double + '-' + name.horizontal + '-padding', 'medium-' + name.double + '-' + name.horizontal + '-padding' ] )
		div.logo.small-100.tiny-100( class=[ name.vertical + '-padding', name.all + '-15', name.half + '-'+ name.rightPosition + '-padding'  ] )
			img.all-100.push-middle.show-xlarge.show-large.show-medium.hide-all( src= uri + "image/logo.png" )
			img.all-100.show-small.show-tiny.hide-all( src= uri +"image/logo_t.png" )
		form.small-100.tiny-100( class=[ name.form, name.vertical + '-padding', name.all + '-85', 'large-' + name.leftPosition + '-padding','xlarge-' + name.leftPosition + '-padding','medium-' + name.leftPosition + '-padding', 
		name.half + '-' + name.horizontal + '-padding'   ] )
			.large( class=[ name.control + '-group' ] )
				label(for="band", class=[ 'hide-' + name.all ]) Banda
				.large.append-symbol( class=[ name.control ] ): span
					input#band.large.gray( type="text", [(ngModel)]="suscriber.search", name="query",
					placeholder="Escribe tu banda, tu género..." )
					i.gray( class=[ name.icon, name.icon + '-search' ] )
			.large( class=[ name.control + '-group', name.no + '-margin' ],  [hidden]="suscriber.send" )
				label(for="mail", class=[ 'hide-' + name.all ]) Email
				.append-button( class=[ name.control ] )
					span: input#mail.gray( type="email", [(ngModel)]="suscriber.mail", name="mail", placeholder="Tu E-mail" )
					button.monospace.medium( (click)="suscribe()" class=[ name.button, name.blackColor ] ) Suscribete
				p.monospace.tip: span.small Suscribete para informarte de tus conciertos
			h3.monospace( [hidden]="!suscriber.send" ) Gracias, te estaremos informando!

list.medium-100.small-100.tiny-100.large-90.xlarge-70( [query]="suscriber.search", class=[ name.all + '-70', 'push-' + name.centerPosition ] )

nav( class=[ name.all + '-100', name.navigation ] )
	ul.breadcrumbs( class=[ name.blackColor ] )
		li: a( href="mailto:concert@galeph.com" ) Promociona tus conciertos
		li: a( href="http://galeph.com" ) Galeph