// Import Compass Core
@import "contrib/compass/css3";
@import "contrib/compass/utilities";
// IMPORT CONFIG FILES (THESE CONTAIN VARIABLE DEFINITIONS)
@import "config/common";
@import "config/typography";
@import "config/colors";
@import "config/alerts";
@import "config/buttons";
@import "config/classnames";
@import "config/forms";
@import "config/grid";
@import "config/labels";
@import "config/badges";
@import "config/navigation";
@import "config/tables";
@import "config/images";
@import "config/js";
// IMPORT CONFIG FILES (THESE CONTAIN VARIABLE DEFINITIONS)
@import "mixins/quick-start";

html {
	background-color : $black;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('http://inlive.galeph.com/image/conciert.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

h1.rotate {
	color : $white;
	font-size :2.1em;
}

.loading {
	bottom: 0px;
	position: fixed;
	width: 100%;
	top: 44%;
	i {
		color : $grey-10;
		font-size: $border-radius * 7;
	}
}

.blur {
	-webkit-filter: blur($border-radius / 2);
	-moz-filter: blur($border-radius / 2);
	-o-filter: blur($border-radius / 2);
	-ms-filter: blur($border-radius / 2);
	filter: blur($border-radius / 2);
	h1, h2, h3, h4, h5, h6, .small, .no-margin {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;           /* Non-prefixed version, currently
		                                  not supported by any browser */
	}
	share {
		display: none;
	}
}

.ticket {
	border-radius: $border-radius;	
	input.gray{
		background: rgba(200, 200, 200, 0.4);
		border-color: rgba(200, 200, 200, 0.4);
	}

	.fa.gray {
		color: rgba(100, 100, 100, 0.3);
	}
}

ul.list {
	li {
		border-radius: $border-radius;
		background-color: $white;
		color : $black;
		.#{$all}-65 {
			border-left: $black dotted 0.2em ;
		}
	}
}

@include generate-quick-start($grid-breakpoints);
